<h2 style="color:darkblue;">Bienvenidos al servidor express - Comisión 39760</h2> <br>
<h2>Chat Page</h2> <br>

<div>
    <input id="chatBox">
</div>
<div>
    <br>
    <h3>Mensajes:</h3>
    <p id="messageLogs"></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>