<h1 style="color:darkblue;">Bienvenidos al servidor express - Comisión 39760</h1> <br>
<h1>Seleccione una opción</h1>

<button id="viewProduct" class="btn btn-primary"> Ver Productos</button>
<button id="addProduct" class="btn btn-primary"> Ir a Cargar Productos</button>

<script src="/js/index.js"></script>
