<h2 style="color:darkblue;">Bienvenidos al servidor express - Comisión 39760</h2> <br>

<div>
    <h1>Reseteo de su contraseña</h1>
    <h4>El link de reseteo es incorrecto o ya caduco!</h4>
    <p>Por favor volver a generarlo desde <a href="/resetPassword">aquí</a></p>
    <p>o bien volver al <a href="/login">Login</a></p>
</div>