<div>
    {{#each product}}
    <div>
        <h1>Hola {{this.code}}</h1>
        <p>{{this.description}}</p>
        <p>{{this.code}}</p>
    </div>
    {{/each}}
</div>
<script src="/js/index.js"></script>