<div>
    <h1>Productos disponibles</h1>
    {{#each products}}
    <div>
        <h1>Código: {{this.code}}</h1>
        <p>Descripción: {{this.description}}</p>
        <p>Precio: ${{this.price}}</p>
        <p>Stock: ${{this.stock}}</p>
    </div>
    {{/each}}
</div>
<script src="/js/index.js"></script>