<div>
    {{#each products}}
    <div>
        <h1>Código: {{this.code}}</h1>
        <p>{{this.description}}</p>
        <p>${{this.price}}</p>
    </div>
    {{/each}}
</div>
<script src="/js/index.js"></script>