<h2 style="color:darkblue;">Bienvenidos al servidor express - Comisión 39760</h2> <br>

<div>
    <h2>Tu perfil (sin datos sensibles)</h2>
    <p>{{user.name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>
    <a href="/api/sessions/logout"><button>Salir</button></a>
</div>